@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap";
@font-face {
  font-family: Inter;
  src: url("fonts/inter.woff2") format("woff2");
}

:root {
  --blue: #6eb0a3;
  --green: #a9b665;
  --pink: #e86a92;
  --dark-pink: #de5490;
  --highlight: #696369;
  --text-color: #f7f9f7;
  --gray: #797279;
  --gray-light: #a6a0a6;
  --text-color: #f7f9f7;
  --text-gray: #b6b6b6;
  --background: #292729;
  --background-lighter: #3a3639;
  --background-lightest: #4a454a;
  --regular: -apple-system, BlinkMacSystemFont, segoe ui, Inter;
  --code: SFMono-Regular, Consolas, Menlo, monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--highlight);
}

nav {
  width: 60%;
  align-self: center;
}

.nav-bar {
  padding-bottom: 2rem;
  line-height: 2rem;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.heading-link {
  font-size: 1.5rem;
  color: var(--text-color);
}

.links > * {
  color: var(--text-color);
}

.links > *:not(:first-child) {
  margin-left: 2rem;
}

a.active:hover {
  opacity: 60%;
}

a.active {
  color: var(--gray);
  text-decoration: 1px underline;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading {
  display: flex;
  padding-bottom: 0.25rem;
  flex-direction: row;
  align-items: end;
  font-size: 2.15rem;
}

.heading i {
  padding-bottom: 0.25rem;
}

.heading > *:not(:first-child) {
  padding-left: 1rem;
}

.title {
  display: flex;
  padding-bottom: 0.25rem;
  flex-direction: row;
  align-items: end;
  font-size: 2.15rem;
}

.title a {
  color: var(--text-color);
  text-decoration: 2px underline;
}

.title a:hover {
  text-decoration: 2px dotted underline;
}

.date {
  display: inherit;
  font-weight: normal;
  color: var(--gray);
  font-size: 1rem;
}

p {
  line-height: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: var(--pink);
  transition: 0.15s;
}

a:hover {
  opacity: 60%;
  text-decoration: 1px dotted underline;
}

h1,
h2,
h3 {
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 1.8rem;
}

* + h1 {
  padding-top: 1rem;
}

* + h2 {
  padding-top: 0.75rem;
}

* + h3 {
  padding-top: 0.25rem;
}

.heading-quote {
  display: flex;
  align-items: center;
}

.heading-quote h1 {
  padding-right: 1rem;
}

.heading-quote + p {
  padding-top: 0.5rem;
}

h2 {
  font-size: 1.5rem;
}

li::marker {
  font-weight: bold;
}

li {
  padding-top: 0.5rem;
  line-height: 1.5rem;
}

ol li:not(:last-child) {
  margin-bottom: 0.5rem;
}

ol li p {
  line-height: 1.9rem;
}

p code,
li code {
  white-space: nowrap;
  font-size: 0.9rem;
  font-family: JetBrains Mono, Menlo, monospace;
  border-radius: 0.3rem;
  padding: 0.15rem 0.2rem 0.15rem 0.2rem;
  border: 1px solid var(--gray);
  background-color: var(--background-lighter);
}

blockquote {
  display: inline-block;
  font-size: 1rem;
  border-left: 3px solid var(--gray);
  border-radius: 0.4rem;
  background: var(--background-lighter);
  padding: 0.1em 1em;
  margin: 0.5rem 0 0.5rem 0.75em;
}

blockquote code {
  background-color: var(--background);
}

blockquote a {
  font-size: inherit;
}

.showcase {
  display: flex;
  justify-content: start;
  align-items: center;
}

.showcase-img {
  width: 25%;
  border-radius: 0.3rem;
  margin: 0.5rem 4rem 2rem 0rem;
}

img {
  width: 90%;
  height: 90%;
  border-radius: 0.3rem;
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.3);
  margin: 20px 0 40px;
}

pre {
  font-size: 1rem;
  width: 90%;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 1rem 0 1rem;
  overflow: auto;
}

table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
  border-spacing: 0;
  border-radius: 0.4rem;
  border: 1.5px solid var(--gray);
}

thead {
  background: var(--background-lighter);
}

th,
td {
  padding: 0.5em 1em;
}

tbody tr:nth-child(2n + 1) {
  background-color: var(--background-lightest);
}

table tr:nth-child(2n) {
  /* */
  background-color: var(--background-lighter);
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--regular);
  color: var(--text-color);
  background-color: var(--background);
  font-size: 1.15rem;
}

.doc {
  padding: 0.25rem 0rem 1rem 0.25rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray);
}

.doc h4 {
  padding-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.doc h4 a {
  color: var(--text-color);
}

.doc h4 .date {
  padding-left: 1rem;
  margin-top: 0.15rem;
  color: var(--gray);
}

.doc p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--gray);
}

#horizontal-content {
  width: 100%;
  height: 100vh;
}

#vertical-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 60%;
  padding: 1rem;
}

#footer {
  background-color: var(--background-lightest);
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}

#footer p {
  font-size: 1rem;
}

#footer .icons {
  padding-bottom: 1rem;
}

#footer .icons > a {
  color: var(--text-color);
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}

#footer .icons > a:hover {
  opacity: 1;
}

#footer .icons a::before {
  transition: 0.2s;
  opacity: 0;
  content: attr(title);
  position: absolute;
  top: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.75rem;
  white-space: nowrap;
}

#footer .icons a:hover:before {
  opacity: 1;
  top: -2rem;
}

.link-separator {
  padding-bottom: 0.25rem;
  font-size: 2rem;
}

@media (max-width: 1080px) {
  .title > * {
    line-height: 1.6rem;
  }

  nav {
    width: 90%;
  }

  .links > *:not(:first-child) {
    margin-left: 1rem;
  }

  .container {
    width: 100%;
  }

  .title {
    font-size: 1.9rem;
    flex-direction: column;
    align-items: start;
  }

  .showcase {
    flex-direction: column;
  }

  .showcase-img {
    width: 60%;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  code {
    font-size: 0.75rem;
  }

  body {
    font-size: 0.95rem;
  }
  .doc {
    padding: 0.75rem;
  }
  .doc h4 {
    font-size: 1rem;
  }
}
