{% extends "base.html" %} {% block nav_bar %}
<div class="nav-bar">
    <a class ="nav-tag" href="https://cameron.rs">Portfolio</a>
</div>
{% endblock %} {% block content %}

<h1 class="heading">
  <i class="fa-solid fa-book"></i>
  <span> {{ section.title }} </span>
</h1>

<br />
<div class="block-data">
  {% for page in section.pages %}

  <div class="doc">
    <h4>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>

      <div class="date">
          {{ page.extra.actual_date }}
      </div>
    </h4>

    <p>{{ page.description | safe }}</p>
  </div>

  {% endfor %}
</div>

{% endblock content %}
